<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <%- include("./nav.ejs")%>
    <h1>Pokedex</h1>
    <% for (let i = 0; i < pokemon.length; i++) { %>
    <div class ="indexContainer"
        <div class="pokemonContainer">
            <div class="pokemonName"></div><a href="/pokemon/<%= i %>"><h2><%=pokemon[i].name%></h2></a></div>
            <div class="pokemonPicture"></div><a href="/pokemon/<%= i %>"><img src="<%=pokemon[i].img%>"></a></div>
        </div>
    </div>
    <% } %>
</body>
</html>