<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=poke.name%></title>
</head>
<body>
    <%- include("./nav.ejs")%>

    <h1><%=poke.name%></h1>
    <img src="<%=poke.img%>">
    
    
    <h2>Type</h2>
    <ul>
        <% for (let i = 0; i < poke.type.length; i++) { %>
            
            <li><%=poke.type[i]%></li>
        <% } %>
        
    </ul>

    <h2>Stats</h2>
    <ul>
        <li>HP: <%=poke.hp%></li>
        <li>Attack: <%=poke.attack%></li>
        <li>Defense: <%=poke.defense%></li>
    </ul>

    <form class="editDeleteForm" action="/pokemon/<%= id %>?_method=DELETE" method="post">
        <a class="buttonClass" href="/pokemon/<%= id %>/edit">EDIT</a>
        <input class="buttonClass" type="submit" value="DELETE">
    </form>

</body>
</html>