<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=poke.name%></title>
</head>
<body>
    <%- include("./partials/nav.ejs")%>

    <h1><%=poke.name%></h1>
    <img src="<%=poke.img%>">
    <a href="/pokemon/<%= id %>/edit">Edit</a>
    <form action="/pokemon/<%= id %>?_method=DELETE" method="post">
        <input type="submit" value="DELETE">
    </form>
    
    <h2>Type</h2>
    <ul>

            <% for (let i = 0; i < poke.type.length; i++) { %>
                <li><%=poke.type[i]%></li>
            <% } %>
        
    </ul>

    <h2>Stats</h2>
    <ul>
        <li>HP: <%=poke.stats.hp%></li>
        <li>Attack: <%=poke.stats.attack%></li>
        <li>Defense: <%=poke.stats.defense%></li>
    </ul>
</body>
</html>